* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

header {
  background-color: #171a21;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  width: 200px;
}

header a {
  color: white;
}

header nav {
  display: flex;
  color: white;
}

a {
  text-decoration: none;
  cursor: pointer;
  opacity: 0.8;
  padding: 0 10px;
}

a:hover {
  opacity: 1;
}

a:visited,
a:hover,
a:active {
  color: inherit;
}

nav,
ul {
  list-style: none;
}

.hero {
  background-image: url(images/hero.jpg);
  background-size: cover;
  min-height: 100vh;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero h1 {
  font-size: 50px;
  margin-bottom: 15px;
}

.hero h3 {
  font-size: 25px;
  margin-bottom: 15px;
}

.hero .btn {
  background-color: white;
  border-radius: 4px;
  color: #191c03;
  padding: 20px 50px;
  text-transform: uppercase;
}

.recomendados {
  padding: 100px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #4e697d
}

.recomendados h3 {
  font-size: 25px;
  margin-bottom: 35px;
  text-align: center;
  color: #191c03;
}

.recomendados p {
  max-width: 800px;
  margin-bottom: 35px;
  text-align: center;
  color: #191c03;
}

.recomendados hr {
  width: 200px;
  height: 2px;
  margin-bottom: 70px;
  border: none;
  background-color: #191c03;
}

.recomendados .grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.recomendados .grid li {
  height: 350px;
  padding: 20px;
  border-radius: 4px;
  background-clip: content-box;
  background-size: cover;
  background-position: center;
}

.recomendados .grid li.small {
  flex-basis: 40%;
}

.recomendados .grid li.large {
  flex-basis: 60%;
}

.features {
  background-color: #171a21;
  padding: 100px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features h3 {
  font-size: 25px;
  margin-bottom: 35px;
  text-align: center;
  color: white;
}

.features p {
  max-width: 800px;
  margin-bottom: 35px;
  text-align: center;
  color: white;
}

.features hr {
  width: 200px;
  height: 2px;
  margin-bottom: 70px;
  border: none;
  background-color: white;
}

.features .grid {
  width: 100%;
  display: flex;
}

.features .grid li {
  padding: 0 30px;
  text-align: center;
}

.features .grid li i {
  color: white;
  font-size: 35px;
  margin-bottom: 30px;
}

.features .grid li h4 {
  font-size: 25px;
  color: white;
  margin-bottom: 30px;
}

.novidades {
  background-color: #4e697d;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 50px;
}

.novidades h3 {
  font-size: 25px;
  margin-bottom: 35px;
  text-align: center;
  color: black;
}

.novidades p {
  max-width: 800px;
  margin-bottom: 35px;
  text-align: center;
  color: black;
}

.novidades input {
  padding: 15px;
  border: 1px solid black;
  border-radius: 4px;
  margin-right: 15px;
  flex: 1;
}

.novidades form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 80%;
  max-width: 800px;
}

.novidades button {
  padding: 15px;
  background-color: black;
  color: white;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #171a21;
  padding: 50px 0;
}

footer ul {
  display: flex;
  margin-bottom: 25px;
}

footer ul li i {
  color: white;
  font-size: 25px;
}

footer p {
  color: white;
  text-align: center;
}

footer ul li:nth-child(1) {
  order: 4;
}

footer ul li:nth-child(2) {
  order: 3;
}

footer ul li:nth-child(3) {
  order: 2;
}

footer ul li:nth-child(4) {
  order: 1
}

/* @media regras que temos que atender {
  código
} */

@media screen and (max-width: 375px) {
  header nav {
    display: none;
  }

  header {
    justify-content: center;
  }

  .hero h1 {
    font-size: 30px;
  }

  .hero h3 {
    font-size: 15px;
  }

  .know-the-hotel {
    padding: 100px 10px;
  }

  .know-the-hotel .grid li {
    padding: 10px;
  }

  .know-the-hotel .grid li.small {
    flex-basis: 100%;
  }

  .know-the-hotel .grid li.large {
    flex-basis: 100%;
  }

  .features .grid {
    flex-direction: column;
  }

  .newsletter button {
    margin-top: 20px;
  }

  footer ul li i {
    font-size: 45px;
  }
}